# sqlglot SQL translation

In [ ]:
from sqlglot import parse_one, transpile, diff

In [58]:
sql = "SELECT CAST(a AS INTEGER), CAST(b as REAL(53)) from c where d>1 limit 5"

In [60]:
parse_one(sql,dialect="sqlite").sql("oracle")

'SELECT CAST(a AS NUMBER), CAST(b AS FLOAT(53)) FROM c WHERE d > 1 FETCH FIRST 5 ROWS ONLY'

In [61]:
transpile(sql, write="oracle")

['SELECT CAST(a AS NUMBER), CAST(b AS FLOAT(53)) FROM c WHERE d > 1 FETCH FIRST 5 ROWS ONLY']

In [68]:
sqlglot.transpile("SELECT STRFTIME(x, '%y-%-m-%S')", read="duckdb", write="hive")[0]

"SELECT DATE_FORMAT(x, 'yy-M-ss')"

# Bonus: AST Diff

In [63]:
parse_one(sql)

Select(
  expressions=[
    Cast(
      this=Column(
        this=Identifier(this=a, quoted=False)),
      to=DataType(this=Type.INT, nested=False)),
    Cast(
      this=Column(
        this=Identifier(this=b, quoted=False)),
      to=DataType(
        this=Type.FLOAT,
        expressions=[
          DataTypeParam(
            this=Literal(this=53, is_string=False))],
        nested=False))],
  limit=Limit(
    expression=Literal(this=5, is_string=False)),
  from=From(
    this=Table(
      this=Identifier(this=c, quoted=False))),
  where=Where(
    this=GT(
      this=Column(
        this=Identifier(this=d, quoted=False)),
      expression=Literal(this=1, is_string=False))))

In [67]:
# https://github.com/tobymao/sqlglot/blob/main/posts/sql_diff.md
diff(parse_one("SELECT a + b"), parse_one("SELECT a - b"))

[Remove(expression=Add(
   this=Column(
     this=Identifier(this=a, quoted=False)),
   expression=Column(
     this=Identifier(this=b, quoted=False)))),
 Insert(expression=Sub(
   this=Column(
     this=Identifier(this=a, quoted=False)),
   expression=Column(
     this=Identifier(this=b, quoted=False)))),
 Keep(source=Column(
   this=Identifier(this=b, quoted=False)), target=Column(
   this=Identifier(this=b, quoted=False))),
 Keep(source=Column(
   this=Identifier(this=a, quoted=False)), target=Column(
   this=Identifier(this=a, quoted=False))),
 Keep(source=Select(
   expressions=[
     Add(
       this=Column(
         this=Identifier(this=a, quoted=False)),
       expression=Column(
         this=Identifier(this=b, quoted=False)))]), target=Select(
   expressions=[
     Sub(
       this=Column(
         this=Identifier(this=a, quoted=False)),
       expression=Column(
         this=Identifier(this=b, quoted=False)))]))]

In [10]:
duckdb_sql  = """
SELECT
    l_returnflag,
    l_linestatus,
FROM
    lineitem
WHERE
    l_shipdate <= DATE '1998-12-01' - INTERVAL '90' DAY
ORDER BY
    l_returnflag,
    l_linestatus;
"""

In [11]:
import sqlglot

In [12]:
sqlglot.parse(duckdb_sql)

[Select(
   expressions=[
     Column(
       this=Identifier(this=l_returnflag, quoted=False)),
     Column(
       this=Identifier(this=l_linestatus, quoted=False))],
   from=From(
     this=Table(
       this=Identifier(this=lineitem, quoted=False))),
   where=Where(
     this=LTE(
       this=Column(
         this=Identifier(this=l_shipdate, quoted=False)),
       expression=Sub(
         this=Cast(
           this=Literal(this=1998-12-01, is_string=True),
           to=DataType(this=Type.DATE, nested=False)),
         expression=Interval(
           this=Literal(this=90, is_string=True),
           unit=Var(this=DAY))))),
   order=Order(
     expressions=[
       Ordered(
         this=Column(
           this=Identifier(this=l_returnflag, quoted=False)),
         nulls_first=True),
       Ordered(
         this=Column(
           this=Identifier(this=l_linestatus, quoted=False)),
         nulls_first=True)]))]

In [13]:
sqlglot.parse(duckdb_sql, dialect="spark")

[Select(
   expressions=[
     Column(
       this=Identifier(this=l_returnflag, quoted=False)),
     Column(
       this=Identifier(this=l_linestatus, quoted=False))],
   from=From(
     this=Table(
       this=Identifier(this=lineitem, quoted=False))),
   where=Where(
     this=LTE(
       this=Column(
         this=Identifier(this=l_shipdate, quoted=False)),
       expression=Sub(
         this=Cast(
           this=Literal(this=1998-12-01, is_string=True),
           to=DataType(this=Type.DATE, nested=False)),
         expression=Interval(
           this=Literal(this=90, is_string=True),
           unit=Var(this=DAY))))),
   order=Order(
     expressions=[
       Ordered(
         this=Column(
           this=Identifier(this=l_returnflag, quoted=False)),
         nulls_first=True),
       Ordered(
         this=Column(
           this=Identifier(this=l_linestatus, quoted=False)),
         nulls_first=True)]))]