In [3]:
import ibis
import duckdb

SCALE_FACTOR = 1

# Connect to DuckDB
duckdb_con = duckdb.connect("tpch.duckdb")
con = ibis.connect("duckdb://tpch.duckdb")

IOException: IO Error: Could not set lock on file "/workspaces/pyconhk-2024/tpch.duckdb": Conflicting lock is held in /usr/local/bin/python3.10 (PID 2112). See also https://duckdb.org/docs/connect/concurrency

# Generate Data

In [2]:
# Generate TPC-H data at scale factor 1 (1 GB)
duckdb_con.sql(f"CALL dbgen(sf={SCALE_FACTOR})")

# Export each table to Parquet format
tables = ["lineitem", "orders", "customer", "supplier", "nation", "region", "part", "partsupp"]
for table in tables:
    duckdb_con.sql(f"COPY {table} TO 'data/{table}.parquet' (FORMAT PARQUET)")

NameError: name 'duckdb_con' is not defined

In [4]:
part = con.table("part")
partsupp = con.table("partsupp")

In [20]:
part = part.sql("SELECT * from part")
partsupp = partsupp.sql("SELECT * from partsupp")

In [24]:
part.p_partkey

r0 := DatabaseTable: part
  p_partkey     !int64
  p_name        !string
  p_mfgr        !string
  p_brand       !string
  p_type        !string
  p_size        !int32
  p_container   !string
  p_retailprice !decimal(15, 2)
  p_comment     !string

r1 := SQLStringView[r0]
  query:
    SELECT * from part
  schema:
    p_partkey     int64
    p_name        string
    p_mfgr        string
    p_brand       string
    p_type        string
    p_size        int32
    p_container   string
    p_retailprice decimal(15, 2)
    p_comment     string

p_partkey: r1.p_partkey

In [27]:
type(part)

ibis.expr.types.relations.Table

In [28]:
type(part_sql)

ibis.expr.types.relations.Table

In [ ]:
part_sql.

In [25]:
ibis.to_sql(part)

SELECT
  *
FROM part

In [26]:
part

r0 := DatabaseTable: part
  p_partkey     !int64
  p_name        !string
  p_mfgr        !string
  p_brand       !string
  p_type        !string
  p_size        !int32
  p_container   !string
  p_retailprice !decimal(15, 2)
  p_comment     !string

SQLStringView[r0]
  query:
    SELECT * from part
  schema:
    p_partkey     int64
    p_name        string
    p_mfgr        string
    p_brand       string
    p_type        string
    p_size        int32
    p_container   string
    p_retailprice decimal(15, 2)
    p_comment     string

In [22]:
part_sql = part.sql("select * from part where p_partkey>1")

In [23]:
ibis.to_sql(part_sql)

SELECT
  *
FROM part
WHERE
  p_partkey > 1

In [15]:
part_sql.sql("where p_partkey>1")

AttributeError: 'Table' object has no attribute 'to_sql'

In [13]:
con.sql("select * from part_sql")

CatalogException: Catalog Error: Table with name part_sql does not exist!
Did you mean "part"?
LINE 1: DESCRIBE select * from part_sql
                               ^

In [11]:
part_sql

r0 := DatabaseTable: part
  p_partkey     !int64
  p_name        !string
  p_mfgr        !string
  p_brand       !string
  p_type        !string
  p_size        !int32
  p_container   !string
  p_retailprice !decimal(15, 2)
  p_comment     !string

SQLStringView[r0]
  query:
    select * from part
  schema:
    p_partkey     int64
    p_name        string
    p_mfgr        string
    p_brand       string
    p_type        string
    p_size        int32
    p_container   string
    p_retailprice decimal(15, 2)
    p_comment     string

In [8]:
r = part.join(partsupp, part.p_partkey == partsupp.ps_partkey)

In [9]:
r.head().to_pandas()

,p_partkey,p_name,p_mfgr,p_brand,p_type,p_size,p_container,p_retailprice,p_comment,ps_partkey,ps_suppkey,ps_availqty,ps_supplycost,ps_comment
0,92161,coral misty blush black blanched,Manufacturer#2,Brand#25,ECONOMY BRUSHED STEEL,31,LG PACK,1153.16,subla,92161,2162,5815,284.89,ts sleep carefully according to the theodolite...
1,92161,coral misty blush black blanched,Manufacturer#2,Brand#25,ECONOMY BRUSHED STEEL,31,LG PACK,1153.16,subla,92161,4671,4415,141.93,final requests thrash after the bold pearls. ...
2,92161,coral misty blush black blanched,Manufacturer#2,Brand#25,ECONOMY BRUSHED STEEL,31,LG PACK,1153.16,subla,92161,7180,9557,982.01,". silent deposits cajole. special, bold excuse..."
3,92161,coral misty blush black blanched,Manufacturer#2,Brand#25,ECONOMY BRUSHED STEEL,31,LG PACK,1153.16,subla,92161,9689,6518,190.21,about the furiously unusual escapades should ...
4,92162,coral steel tomato red puff,Manufacturer#3,Brand#33,MEDIUM ANODIZED TIN,4,LG DRUM,1154.16,e stealthily among th,92162,2163,5906,232.07,ecial excuses. blithely silent accounts integr...

In [10]:
from pathlib import Path
cwd = str(Path.cwd())

In [11]:
cwd

'/Users/Nok_Lam_Chan/conference/pycon2024'

In [12]:
from __future__ import annotations


import ibis
import datetime
from dateutil.relativedelta import relativedelta

def add_date(datestr: str, dy: int = 0, dm: int = 0, dd: int = 0) -> ir.DateScalar:
    dt = datetime.date.fromisoformat(datestr)
    dt += relativedelta(years=dy, months=dm, days=dd)
    return ibis.date(dt.isoformat())

## Ibis Dataframe

In [13]:

lineitem = con.table("lineitem", database=f"tpch")

t = lineitem
q = t.filter(t.l_shipdate <= add_date("1998-12-01", dd=-90))
discount_price = t.l_extendedprice * (1 - t.l_discount)
charge = discount_price * (1 + t.l_tax)
q = q.group_by(["l_returnflag", "l_linestatus"])
q = q.aggregate(
    sum_qty=t.l_quantity.sum(),
    sum_base_price=t.l_extendedprice.sum(),
    sum_disc_price=discount_price.sum(),
    sum_charge=charge.sum(),
    avg_qty=t.l_quantity.mean(),
    avg_price=t.l_extendedprice.mean(),
    avg_disc=t.l_discount.mean(),
    count_order=lambda t: t.count(),
)
q = q.order_by(["l_returnflag", "l_linestatus"])
print(q)
print(ibis.to_sql(q))

r0 := DatabaseTable: tpch.lineitem
  l_orderkey      !int64
  l_partkey       !int64
  l_suppkey       !int64
  l_linenumber    !int64
  l_quantity      !decimal(15, 2)
  l_extendedprice !decimal(15, 2)
  l_discount      !decimal(15, 2)
  l_tax           !decimal(15, 2)
  l_returnflag    !string
  l_linestatus    !string
  l_shipdate      !date
  l_commitdate    !date
  l_receiptdate   !date
  l_shipinstruct  !string
  l_shipmode      !string
  l_comment       !string

r1 := Filter[r0]
  r0.l_shipdate <= datetime.date(1998, 9, 2)

r2 := Aggregate[r1]
  groups:
    l_returnflag: r1.l_returnflag
    l_linestatus: r1.l_linestatus
  metrics:
    sum_qty:        Sum(r1.l_quantity)
    sum_base_price: Sum(r1.l_extendedprice)
    sum_disc_price: Sum(r1.l_extendedprice * 1 - r1.l_discount)
    sum_charge:     Sum(r1.l_extendedprice * 1 - r1.l_discount * r1.l_tax + 1)
    avg_qty:        Mean(r1.l_quantity)
    avg_price:      Mean(r1.l_extendedprice)
    avg_disc:       Mean(r1.l_discount)
    count_order:    CountStar(r1)

Sort[r2]
  asc r2.l_returnflag
  asc r2.l_linestatus
SELECT
  *
FROM (
  SELECT
    "t1"."l_returnflag",
    "t1"."l_linestatus",
    SUM("t1"."l_quantity") AS "sum_qty",
    SUM("t1"."l_extendedprice") AS "sum_base_price",
    SUM("t1"."l_extendedprice" * (
      1 - "t1"."l_discount"
    )) AS "sum_disc_price",
    SUM("t1"."l_extendedprice" * (
      1 - "t1"."l_discount"
    ) * (
      "t1"."l_tax" + 1
    )) AS "sum_charge",
    AVG("t1"."l_quantity") AS "avg_qty",
    AVG("t1"."l_extendedprice") AS "avg_price",
    AVG("t1"."l_discount") AS "avg_disc",
    COUNT(*) AS "count_order"
  FROM (
    SELECT
      *
    FROM "tpch"."lineitem" AS "t0"
    WHERE
      "t0"."l_shipdate" <= MAKE_DATE(1998, 9, 2)
  ) AS "t1"
  GROUP BY
    1,
    2
) AS "t2"
ORDER BY
  "t2"."l_returnflag" ASC,
  "t2"."l_linestatus" ASC

In [14]:
q.to_pandas().head()

,l_returnflag,l_linestatus,sum_qty,sum_base_price,sum_disc_price,sum_charge,avg_qty,avg_price,avg_disc,count_order
0,A,F,37734107.00,56586554400.73,53758257134.87,55909065222.83,25.52,38273.13,0.05,1478493
1,N,F,991417.00,1487504710.38,1413082168.05,1469649223.19,25.52,38284.47,0.05,38854
2,N,O,74476040.00,111701729697.74,106118230307.61,110367043872.50,25.50,38249.12,0.05,2920374
3,R,F,37719753.00,56568041380.90,53741292684.60,55889619119.83,25.51,38250.85,0.05,1478870

## Using the `Table.sql` method

In [15]:
sql = """
SELECT
    l_returnflag,
    l_linestatus,
    SUM(l_quantity) AS sum_qty,
    SUM(l_extendedprice) AS sum_base_price,
    SUM(l_extendedprice * (1 - l_discount)) AS sum_disc_price,
    SUM(l_extendedprice * (1 - l_discount) * (1 + l_tax)) AS sum_charge,
    AVG(l_quantity) AS avg_qty,
    AVG(l_extendedprice) AS avg_price,
    AVG(l_discount) AS avg_disc,
    COUNT(*) AS count_order
FROM
    lineitem
WHERE
    l_shipdate <= DATE '1998-12-01' - INTERVAL '90' DAY
GROUP BY
    l_returnflag,
    l_linestatus
ORDER BY
    l_returnflag,
    l_linestatus;
"""

In [16]:
t.sql(sql).to_pandas().head()

,l_returnflag,l_linestatus,sum_qty,sum_base_price,sum_disc_price,sum_charge,avg_qty,avg_price,avg_disc,count_order
0,A,F,37734107.00,56586554400.73,53758257134.8700,55909065222.827692,25.522006,38273.129735,0.049985,1478493
1,N,F,991417.00,1487504710.38,1413082168.0541,1469649223.194375,25.516472,38284.467761,0.050093,38854
2,N,O,74476040.00,111701729697.74,106118230307.6056,110367043872.497010,25.502227,38249.117989,0.049997,2920374
3,R,F,37719753.00,56568041380.90,53741292684.6040,55889619119.831932,25.505794,38250.854626,0.050009,1478870

# Now do this with Spark

In [3]:
%env JAVA_HOME"/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home"

env: JAVA_HOME"/Library/Internet=Plug-Ins/JavaAppletPlugin.plugin/Contents/Home"

In [ ]:
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName('TPCH Benchmark for Python').getOrCreate()


decrease = udf(lambda x, y: x * (1 - y), FloatType())
increase = udf(lambda x, y: x * (1 + y), FloatType())


lineitem = spark.read.parquet("data/lineitem.parquet")
lineitem.filter(col("l_shipdate") <= "1998-09-02") \
    .groupBy(col("l_returnflag"), col("l_linestatus")) \
    .agg(F.sum(col("l_quantity")).alias("sum_qty"),
            F.sum(col("l_extendedprice")).alias("sum_base_price"),
            F.sum(decrease(col("l_extendedprice"), col("l_discount"))).alias("sum_disc_price"),
            F.sum(increase(decrease(col("l_extendedprice"), col("l_discount")), col("l_tax"))).alias("sum_charge"),
            F.avg(col("l_quantity")).alias("avg_qty"),
            F.avg(col("l_extendedprice")).alias("avg_price"),
            F.avg(col("l_discount")).alias("avg_disc"),
            F.count(col("l_quantity")).alias("count_order")) \
    .sort(col("l_returnflag"), col("l_linestatus")) \
    .show()

# Q15 CTE example - Top Supplier Query

In [46]:
sql_q15 = """
with revenue0 as (
    select
        l_suppkey as supplier_no,
        sum(l_extendedprice * (1 - l_discount)) as total_revenue
    from
        lineitem
    where
        l_shipdate >= date '1996-01-01'
        and l_shipdate < date '1996-01-01' + interval '3' month
    group by
        l_suppkey
)
select
    s_suppkey,
    s_name,
    s_address,
    s_phone,
    total_revenue
from
    supplier,
    revenue0
where
    s_suppkey = supplier_no
    and total_revenue = (
        select
            max(total_revenue)
        from
            revenue0
    )
order by
    s_suppkey
"""

In [47]:
con.sql(sql_q15).to_pandas().head()

,s_suppkey,s_name,s_address,s_phone,total_revenue
0,8449,Supplier#000008449,5BXWsJERA2mP5OyO4,20-469-856-8873,3545254.4174
1,8449,Supplier#000008449,5BXWsJERA2mP5OyO4,20-469-856-8873,3545254.4174

## Break it down into multiple table

In [67]:
revenue = con.sql("""    select
        l_suppkey as supplier_no,
        sum(l_extendedprice * (1 - l_discount)) as total_revenue
    from
        lineitem
    where
        l_shipdate >= date '1996-01-01'
        and l_shipdate < date '1996-01-01' + interval '3' month
    group by
        l_suppkey""").alias("lineitem")

In [53]:
final = revenue.sql("""select
    s_suppkey,
    s_name,
    s_address,
    s_phone,
    total_revenue
from
    supplier,
    revenue0
where
    s_suppkey = supplier_no
    and total_revenue = (
        select
            max(total_revenue)
        from
            revenue0
    )
order by
    s_suppkey""")

CatalogException: Catalog Error: Table with name revenue0 does not exist!
Did you mean "pg_sequence"?
LINE 1: ... s_phone, total_revenue FROM supplier, revenue0 WHERE s_suppkey = supplier_no ...
                                                  ^

In [50]:
final.to_pandas().head()

,s_suppkey,s_name,s_address,s_phone,total_revenue
0,8449,Supplier#000008449,5BXWsJERA2mP5OyO4,20-469-856-8873,3545254.4174
1,8449,Supplier#000008449,5BXWsJERA2mP5OyO4,20-469-856-8873,3545254.4174

In [51]:
ibis.to_sql(final)

WITH "revenue0" AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= CAST('1996-01-01' AS DATE)
    AND l_shipdate < CAST('1996-01-01' AS DATE) + INTERVAL '3' MONTH
  GROUP BY
    l_suppkey
)
SELECT
  s_suppkey,
  s_name,
  s_address,
  s_phone,
  total_revenue
FROM supplier, revenue0
WHERE
  s_suppkey = supplier_no
  AND total_revenue = (
    SELECT
      MAX(total_revenue)
    FROM revenue0
  )
ORDER BY
  s_suppkey

In [40]:
from ibis import _
ibis.to_sql(revenue.filter(_.supplier_no>1))

WITH "revenue0" AS (
  SELECT
    l_suppkey AS supplier_no,
    SUM(l_extendedprice * (
      1 - l_discount
    )) AS total_revenue
  FROM lineitem
  WHERE
    l_shipdate >= CAST('1996-01-01' AS DATE)
    AND l_shipdate < CAST('1996-01-01' AS DATE) + INTERVAL '3' MONTH
  GROUP BY
    l_suppkey
)
SELECT
  *
FROM "revenue0" AS "t1"
WHERE
  "t1"."supplier_no" > 1